<div>


    <!--ALL AMANDMANTS FOR AKT-->


    <h3>Svi predlozeni amandmani na akt:</h3>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <!--<th>Naslov</th>-->
                    <th>Izbor</th>
                   <!-- <th>Doc Id</th>-->
                    <th>Amandman</th>
                </tr>
            </thead>
            <tbody>
            <tr ng-repeat="model in amandmands track by $index">
                <!--BTN-->
                <td>
                    <button type="submit" class="btn btn-{{btns[$index]}} btn-sm" ng-click="dodaj(model.documentId, $index)">
                        <span class="glyphicon glyphicon-{{btns2[$index]}}"></span>&nbsp;<span><!--txthere--></span>
                    </button>
                </td>
                <!--ID-->
               <!-- <td>
                    {{model.documentId}}
                </td>-->
                <!--NED TABLE-->
                <td>
                    <!------------------------------------------------->
                    <!--NEW TABLE-->
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Redni broj</th>
                                <th>Tip izmene</th>
                                <th>Obrazlozenje</th>
                                <th>Predmet izmene</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="model2 in model.amandman">
                                <td>
                                    {{model2.redniBroj}}
                                </td>
                                <td>
                                    {{model2.tipIzmene}}
                                </td>
                                <td>
                                    {{model2.obrazlozenje.content[0]}}
                                    <br>
                                </td>
                                <td>
                                    {{model2.predmetIzmene.value}}
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!------------------------------------------------->
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    <!--<div class="alert alert-success" role="alert">
        Izabrani za prihvatanje:
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Doc Id</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="model3 in amandmantsToAdd">
                    <td>
                        {{model3}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>-->


    <br><br>
    <div class="alert alert-success" role="alert">
    <button type="submit" class="btn btn-success btn-sm" ng-click="prihvati()">
        <span class="glyphicon glyphicon-ok"></span>&nbsp;<span>Prihvati akt (sa amandmanima)</span>
    </button>
    &nbsp;
    <!--<button type="submit" class="btn btn-success btn-sm" ng-click="prihvatiDelimicno()">
        <span class="glyphicon glyphicon-ok"></span>&nbsp;<span>Prihvati delimicno</span>
    </button>-->
    &nbsp;
    <button type="submit" class="btn btn-danger btn-sm" ng-click="odbij()">
        <span class="glyphicon glyphicon-remove"></span>&nbsp;<span>Odbij akt</span>
    </button>
    </div>
    <br><br>

</div>
