<div>
<div class="col-md-4 col-md-offset-4">
    <h2>Kreiranje naloga</h2>


    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Ime</span>
        <input type="text" class="form-control" placeholder=" " ng-model="user.ime">
    </div>

    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Prezime</span>
        <input type="text" class="form-control" placeholder=" " ng-model="user.prezime">
    </div>

    <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Korisnicko ime</span>
    <input type="text" class="form-control" placeholder=" " ng-model="user.username">
    </div>

    <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Email</span>
    <input type="text" class="form-control" placeholder=" " ng-model="user.eMail">
    </div>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Sifra</span>
    <input type="password" class="form-control" placeholder=" " ng-model="user.password">
  </div>

<div class="col-md-4 col-md-offset-4">

  <button class="btn btn-primary" type="button" ng-click="signup()">
    Kreiraj
  </button>

</div>
</div>
</div>
