<div>
    <div class="col-md-4 col-md-offset-4">
        <h3>NOVI AMANDMAN </h3>

        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Unesite dokument</span>
            <textarea rows = "20" class="form-control"  ng-model="document">
            </textarea>
        </div>

        </br>
        <div class="col-md-4 col-md-offset-4">
            <button class="btn btn-primary" type="button" ng-click="create()">
                SACUVAJ
            </button>
        </div>
    </div>
</div>
