<div>


    <h3>Moji Predlozeni Aktovi
    </h3>


    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Naslov</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="model in collection">
                <td>{{model.naslov}}</td>
                <!--<td>{{model.documentId}}</td>-->
                <td>
                    <button type="submit"
                            ui-sref="aktdetail({id:model.documentId})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-blackboard"></span>&nbsp;<span>Otvori akt</span>
                    </button>
                </td>

                  <td>
                      <button type="submit"
                              class="btn btn-danger btn-sm" ng-click="opozovi(model.documentId)">
                          <span class="glyphicon glyphicon-remove"></span>&nbsp;<span>Opozovi</span>
                      </button>
                  </td>

            </tr>
            </tbody>
        </table>
    </div>
</div>

<div>
    <h3>Moji Odobreni Aktovi
    </h3>


    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Naslov</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="model in collectionOdobreni">
                <td>{{model.naslov}}</td>
                <!--<td>{{model.documentId}}</td>-->
                <td>
                    <button type="submit"
                            ui-sref="aktdetail({id:model.documentId})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-blackboard"></span>&nbsp;<span>Otvori akt</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>