*.sw?
.#*
*#
*~
.classpath
.project
.settings
bin
build
target
dependency-reduced-pom.xml
*.sublime-*
/scratch
.gradle
README.html
*.iml
.idea
/complete/tmp.xml
/complete/tmpForValidation.xml
/complete/akt1.xml
/complete/instancead1.xml